<h1><%=@work.title%></h1>

<div class="row">
	<div class="span4">
		<p>Artist: 					 					 <%=@work.artist%></p>
		<p>Price: 	 <%=number_to_currency @work.price%></p>
		<p>Medium: 										 <%=@work.medium%></p>
		<p>Date: 												 <%=@work.date.year%></p>

		<p>Description: <%= @work.description %></p>


		<% unless @work.current_location.blank? %>
			<p>Current Location: <%=@work.current_location%></p>
		<% end %>

		<% unless @work.created_location.blank? %>
			<p>Created Location: <%=@work.created_location%></p>
		<% end %>
	</div>
	<div class="span8">
		<%= image_tag @work.file_name, align: 'right', class: 'img-rounded' %>
	</div>
</div>
<!--
<div class="row">
	<ul class="pager">
		<% if @work == @first_work %>
	  	<li class="previous disabled" >
	    <a href= # >&larr; Previous</a>
    <% else %> 
    	<li class="previous" >
	    <a href= <%= work_path(@work.id - 1) %> >&larr; Previous</a>
    <% end %>
	  </li>

		<li><a href= <%= works_path %>>All Works</a></li>

	  <li class="next <%= "disabled" if @work == @last_work %> ">
	    <a href= <%= work_path(@work.id + 1) %> >Next &rarr;</a>
	  </li>
	</ul>
</div>
-->
