<h1><%=@work.title%></h1>

<div class="row">
	<div class="span4">
		<p>Artist: 					 					 <%=@work.artist%></p>
		<p>Price: 	 <%=number_to_currency @work.price%></p>
		<p>Medium: 										 <%=@work.medium%></p>
		<p>Date: 												 <%=@work.date.year%></p>

		<!-- <p>Description: <%= @work.description %></p> -->


		<% unless @work.current_location.blank? %>
			<p>Current Location: <%=@work.current_location%></p>
		<% end %>

		<% unless @work.created_location.blank? %>
			<p>Created Location: <%=@work.created_location%></p>
		<% end %>
	</div>
	<div class="span8">
		<%= image_tag @work.file_name, align: 'right', class: 'img-rounded' %>
	</div>
</div>

<div class="row">
	<ul class="pager">
		<% if @work.previous.nil? %>
	  	<li class="previous disabled" >
	    <a href= # >&larr; Previous</a>
    <% else %> 
    	<li class="previous" >
	    <a href= <%= work_path(@work.previous) %> >&larr; Previous</a>
    <% end %>
	  </li>

		<li><a href= <%= works_path %>>All Works</a></li>

		<% if @work.next.nil? %>
	  <li class="next disabled" >
	    <a href= # >Next &rarr;</a>
	  <% else %>
	  <li class="next" >
	    <a href= <%= work_path(@work.next) %> >Next &rarr;</a>
	  <% end %>
	  </li>
	</ul>
</div>

