<h1><%=@work.title%></h1>

<p>Artist: 					 <%=@work.artist%></p>
<p>Price: 					$<%=@work.price%></p>
<p>Medium: 					 <%=@work.medium%></p>
<p>Date: 						 <%=@work.date%></p>
<p>Current Location: <%=@work.current_location%></p>
<p>Created Location: <%=@work.created_location%></p>
